<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Angular Task Demo</title>
  <link rel="stylesheet" href="/css/application.css">
</head>
<body>
  <section id="todoapp">
    <header id="header">
      <h1>Task List</h1>
      <form id="todo-form">
        <input id="new-todo" placeholder="What needs to be done?"  autofocus>
      </form>
    </header>
    <section id="main">
      <input id="toggle-all" type="checkbox" ng-model="all_checked">
      <label for="toggle-all">Mark all as complete</label>
      <ul id="todo-list">
        <li class="completed">
          <div class="view">
            <input class="toggle" type="checkbox" checked="checked">
            <label>Some complete task</label>
            <button class="destroy"></button>
          </div>
          <form>
            <input class="edit">
          </form>
        </li>
        <li class="editing">
          <div class="view">
            <input class="toggle" type="checkbox">
            <label>Something editing</label>
            <button class="destroy"></button>
          </div>
          <form>
            <input class="edit" value="something editing">
          </form>
        </li>
        <li>
          <div class="view">
            <input class="toggle" type="checkbox">
            <label>A remaining task</label>
            <button class="destroy"></button>
          </div>
          <form>
            <input class="edit">
          </form>
        </li>
      </ul>
    </section>
    <footer id="footer">
      <span id="todo-count"><strong>2</strong>
        items left 
      </span>
      <ul id="filters">
        <li>
          <a class="selected" href="#/">All</a>
        </li>
        <li>
          <a href="#/active">Active</a>
        </li>
        <li>
          <a href="#/completed">Completed</a>
        </li>
      </ul>
      <button id="clear-completed">Clear completed (1)</button>
    </footer>
  </section>
  <footer id="info">
    <p>Double-click to edit a task</p>
  </footer>


</body>
</html>

